/* Blueprint.js CSS imports */
@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

@import "~@blueprintjs/core/lib/scss/variables";

// Tabulator Imports
@import "react-tabulator/lib/styles.css";
@import 'react-tabulator/lib/css/tabulator_midnight.min.css';

kbd {
    display: inline-block;
    color: 50%;
    font-family: $pt-font-family;
    font-size: 85%;
    border: 1px solid;
    border-radius: 3px;
    padding: 1px 3px;
    position: relative;
    bottom: 0.3px;
}
